.product {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productImg{
   width: 100%;
  height: 250px;
  background-color: gray; 
   display: block;
   position: relative;
}

.productImg img {
  width: 100%;
  height: 100%;
 
}


.product h2 {
  font-size: 17px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product h3 {
  font-size: 13px;
}

.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}
.wishlistBtn{
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wishlistBtn:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}